@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

* {
  max-width: 500px;
  font-family: 'Pretendard', sans-serif;
  margin: auto;
  text-decoration: none;
}

.green {
  color: #2CAA3F;
}
